<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="myCustomHighlighting" converterClass="heavynimbus.server.util.TrackIdHighlighting"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%t] %myCustomHighlighting(%mdc{trackId}) %highlight(%-5level) %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="heavynimbus.server" level="info"/>
</configuration>